        <footer class="bd-footer">
          <div class="container-fluid border-top p-3 p-md-5" id="footer-container">
            <ul class="bd-footer-links">
              <li class="list-inline-item mr-2 toggler"><a href="https://github.com/yukeehan" class="footer-anchor"><i class="github icon"></i>GitHub</a></li>
              <li class="list-inline-item mx-2 toggler"><a href="https://www.linkedin.com/in/yuqinghan/" class="footer-anchor"><i class="linkedin icon"></i>LinkedIn</a></li>
              <li class="list-inline-item ml-2 toggler"><a href="/about" class="footer-anchor"><i class="paw icon"></i>About Me</a></li>
            </ul>
            <p>Designed and built with all the love in the world by Yuqing Han</p>
            <p>Email me: <a href="mailto:yukeehan@gmail.com?subject=YelpCamp" class="footer-anchor toggler">yukeehan@gmail.com</a></p>
          </div>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
            crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" 
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" 
            crossorigin="anonymous">
        </script>
    </body>
</html>