<% include ../partials/auth_header %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block container">
                <img class="login-image" src="https://images.unsplash.com/photo-1524293191286-59ec719556d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1072927ece6d8f615a2c26a88991296b&auto=format&fit=crop&w=900&q=60">
            </div>
            <div class="col-lg-6 col-sm-12 container">
                <div style="margin-right:30px">
                    <p class="title">Forgot</p>
                    <form action="/forgot" method="POST">
                        <input class="login-text" style="width:98%" type="email" name="email" placeholder="email" required>  
                        <div>
                            <button>Send Reset Password Link</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>

    </body>
</html>