<% include ../partials/auth_header %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
                <img class="login-image" src="https://images.unsplash.com/photo-1518895949257-7621c3c786d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f60d3baea4a9463138743b01c0011045&auto=format&fit=crop&w=900&q=60">
            </div>
            <div class="col-lg-6 col-sm-12">
                <div style="margin-right:30px">
                    <p class="title" style="margin-top: 60px;">SIGN UP</p>
                    <form action="/register" method="POST" enctype="multipart/form-data">
                        <input class="login-text" style="width=98%;" type="text" name="username" placeholder="username" required>
                        <input class="login-text" type="password" name="password" placeholder="password" required>
                        <input class="login-text" type="text" name="newUser[firstName]" placeholder="first name" required>
                        <input class="login-text" type="text" name="newUser[lastName]" placeholder="last name" required>
                        <input class="login-text" type="text" name="newUser[email]" placeholder="camp@pinkbeauty.com" style="width:98.5%" required>
                        <input class="login-text" style="width:98.5%;" type="text" name="AdminCode" placeholder="adminCode(if applicable)">
                        <div class="login-text inline" style="width:98.5%;height:45px; color:#4e5965">
                            <span style="inline">avatar file: </span><input style="display:inline-box" type="file" name="avatar" id="avatar" accept="image/*">
                        </div>
                        <div>
                            <button>SIGN UP</button>
                        </div>
                        <p class="forgot"><a class="forgot-text"href="/login">Already have an account?<span> Log In!</span></a></p>
                    </form> 
                </div>
            </div>
        </div>
    </div>
    
    </body>
</html>