<% include ../partials/header %>

<div class="container">
    <div class="text-center">
        <h1 class="h3 my-3 font-weight-normal">Sign Up</h1>
    </div>
    <div style="width: 30%; margin: 25px auto">
        <form action="/register" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" name="username" placeholder="username(required)" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" placeholder="password(required)" required>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text" name="newUser[firstName]" placeholder="first name(required)" required>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name="newUser[lastName]" placeholder="last name(required)" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" name="newUser[email]" placeholder="camp@yelp.com(required)" required>
            </div>
            <div class="form-group">
                <label>Avatar</label>
                <input class="form-control-file" type="file" name="avatar" id="avatar" accept="image/*" placeholder="avatar" required>
            </div>
            <div class="form-group">
                <label>Administer Code<em>(if applicable)</em></label>
                <input class="form-control" type="text" name="AdminCode" placeholder="AdminCode">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>    
    </div>
</div>
    
    </body>
</html>