<% include ../partials/auth_header %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block container">
                <img class="login-image" style="width: 420px;" src="https://images.unsplash.com/photo-1524293191286-59ec719556d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1072927ece6d8f615a2c26a88991296b&auto=format&fit=crop&w=900&q=60">
            </div>
            <div class="col-lg-6 col-sm-12 container">
                <div style="margin-right:30px">
                    <p class="title">Reset Password</p>
                    <form action="/reset/<%= token %>" method="POST">
                        <input class="login-text" type="password" name="newPW" placeholder="New Password" required>
                        <input class="login-text" type="password" name="confirmPW" placeholder="Confirm Password" required>
                        <div>
                            <button>Update Password</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
    </body>
</html>