<% include ../partials/post_header %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
                <img class="login-image" style="width:400px;" src="https://images.unsplash.com/photo-1518895949257-7621c3c786d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f60d3baea4a9463138743b01c0011045&auto=format&fit=crop&w=900&q=60">
            </div>
            <div class="col-lg-6 col-sm-12">
                <div style="margin-right:30px">
                    <p class="title" style="margin-top: 100px; margin-bottom: 30px">Add a new comment to <%= campground.name %></p>
                    <form action="/campgrounds/<%= campground._id %>/comments" method="POST"> 
                        <label class="mb-0">Comment: </label>
                        <textarea class="login-text" name="comment[text]" id="exampleFormControlTextarea1" rows="5"></textarea>
                        <div>
                            <button>Submit</button>
                        </div>
                        <a href="/campgrounds/<%= campground._id %>">go back</a>
                    </form> 
                </div>
            </div>
        </div>
    </div>


    </body>
</html>