<% include ../partials/post_header %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
                <img class="login-image" style="width:400px;" src="https://images.unsplash.com/photo-1518895949257-7621c3c786d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f60d3baea4a9463138743b01c0011045&auto=format&fit=crop&w=900&q=60">
            </div>
            <div class="col-lg-6 col-sm-12">
                <div style="margin-right:30px">
                    <p class="title" style="margin-top: 10px; margin-bottom: 30px">Add A New Conversation</p>
                    <form action="/campgrounds" method="POST" enctype="multipart/form-data">
                        <label class="mb-0">Post Title: </label>
                        <input class="login-text" type="text" name="campground[name]" placeholder="title" required>
                        <label class="mb-0 mt-1">Store Location:</label>
                        <input class="login-text" type="text" name="location" id="location" placeholder="address or postalcode">
                        <label class="mb-0 mt-1">Price:</label>
                        <input class="login-text" type="number" placeholder="price 0.00" name="campground[price]" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" required>
                        <label class="mb-0 mt-1">Image:</label>
                        <div class="login-text inline" style="width:98.5%;height:45px; color:#4e5965">
                            <input style="display:inline-box" id="image" type="file" name="image" accept="image/*" required>
                        </div>
                        <label class="mb-0 mt-1">Description:</label>
                        <textarea class="login-text" type="text" name="campground[description]" placeholder="description" rows="4"required></textarea>
                        <div>
                            <button>Submit</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>

    </body>
</html>