/* ---- particles.js container ---- */

#particles-js {
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(271deg, #c34c68, #2753c6);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 14s ease infinite;
    -moz-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.navbar-brand{
    font-family: 'Orbitron', sans-serif;
    font-size: 900;
}
.main-font{
    font-family: 'Open Sans', sans-serif;
}
.main-font-med{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}
.about-font{
    font-family: 'Kalam', cursive;
}
.about_me_text{
    padding-top: 5em;
    padding-bottom: 5em;
    float:left;
    font-family: 'Kalam', cursive;
    font-size: small;
}

.about_me_img{
    display: block;
    margin: 2em auto;
    width: 100%; 
    max-width: 100%;
    opacity: 0.95;
}

.skills{
    padding-top: 5em;
    padding-bottom: 5em;
    line-height: 1.6;
}
.contact{
    background-color: rgba(0,0,0,0.5);
}
.contact-text{
    padding-top: 7em;
    padding-bottom: 7em;

}


.bd-footer{
  text-align: center;
  width: 100%;
  margin: 0;
  background-color: rgba(255,255,255,1);
  padding-top:2em;
  padding-bottom: 2em;
}

#avatar{
    vertical-align: middle;
    margin: 90px auto 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#about{
    background-color: rgba(255,255,255,0.5);
}

