.card-img-top {
  height: 150px;
}

.card{
  margin: 1.5em auto;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}
.card-img-top .show{
  height:100%;
}
.avatar {
    vertical-align: middle;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#campgroundName{
  font-size: 1.40em;
}
#delete_form{
  display: inline;
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
